@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;1,900&display=swap');

/* selector universal */

*{
    margin: 0;
    padding: 0;
    /* font-family: 'Montserrat'; */
}

h1 {
    
    font-weight: 900;
    color: rgb(201, 198, 21);
}

/* selector de etiqueta */

h2 {
    color: red;
}

/* selector de id */

#site_text {
    background-color: brown;
}

/* selector de clases  */

.subtitles{
    font-family: 'Montserrat';
}

/* selector por atributo  */

input[disabled] {
    background-color: aqua;
}

/* slector po id - boton enviar */

#btn_send{
    margin: 50px;
    padding: 50px;
}

/* selector por seudoclases */

#btn_send:hover{
    background-color: rgb(127, 255, 244);
    color: orange;
    font-size: 20px;
}

#papa{
    margin-left: 50px;
    border: 2px solid rgb(0, 255, 191);
    border-radius: 10px;
}

.hermanos {
    background-color: aqua;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px;
}

#nh_uno{
    color: blue;
}

/* selector descendente hijo */

#papa > .hermanos > #nh_uno {
    color: orange;
}

/* selector descendente */

#papa .nieto{
    color: red;
}

span{
    color: blue;
}

#title_box {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    background-color: aqua;
    text-align: center;
    padding-bottom: 20px;
    margin: 50px;
    border: 3px inset #000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px ;
    box-shadow: -40px 38px 19px -4px rgba(160, 25, 25, 0.5);
    word-spacing: 15px;
    letter-spacing: 3px;
    font-size: 30px;
}

#box_father {
    border: 3px solid #000;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    margin-left: 20px;
    background-image: url(https://s.france24.com/media/display/451ed2b8-eed6-11ea-afdd-005056bf87d6/w:1280/p:4x3/messi-1805.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* media querys de 799 para abajo */
@media (min-width: 800px) and (max-width: 1280px) {
    body{
        background-color: red;
    }

    h1 {
        text-align: center;
    }
}

@media  (min-width: 799px) {
    body {
        background-image: url(https://s.france24.com/media/display/451ed2b8-eed6-11ea-afdd-005056bf87d6/w:1280/p:4x3/messi-1805.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}